<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FestTime.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A2A94FBF356D81E745B02944CFFAEB9927104883</string>
				<key>dateExpires</key>
				<string>3/8/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>73VJ475W7C.com.ruben.FestTime</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>73VJ475W7C</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FestTime.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cf9708d1-2705-4695-8d15-a3ca3c4f1e55</string>
				<key>dateExpires</key>
				<string>3/8/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.ruben.FestTime</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>73VJ475W7C</string>
				<key>name</key>
				<string>Ruben Benito</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
